:root {
  --dark-green: #002626;
  --deep-jungle-green: #0e4749;
  --yellow-green: #95c623;
  --flame: #e55812;
  --white: #fefefe;
}

$dark-green: #002626;
$deep-jungle-green: #0e4749;
$yellow-green: #95c623;
$flame: #e55812;
$white: #fefefe;

$primary: $yellow-green;
$link: $yellow-green;
$action: $yellow-green;

$padding: 10px 15px;
